<div class="tabla my-1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="table-success" style="text-align: center" colspan="2" scope="col">Proveedor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="alert-info">Nombre: </th>
          <td><input class="btn-block" type="text" placeholder="Nombre"></td>
        </tr>
        <tr>
          <th scope="row" class="alert-info">Apellido paterno: </th>
          <td><input class="btn-block" type="text" placeholder="Apellido paterno"></td>
        </tr>
        <tr>
          <th scope="row" class="alert-info">Apellido materno: </th>
          <td><input class="btn-block" type="text" placeholder="Apellido materno"></td>
        </tr>
      </tbody>
    </table>
  
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" style="text-align: center" class="table-success" colspan="2">Empresa</th>
        </tr>    
        <tr>
          <td class="alert-info">Empresa: </td>
          <td><input class="btn-block" type="text" placeholder="Empresa"></td>
        </tr>
      </tbody>
    </table>
  
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" style="text-align: center" class="table-success" colspan="2">Contacto</th>
        </tr>
        <tr>
          <td class="alert-info">N&uacute;mero telefonico</td>
          <td><input class="btn-block" type="text" placeholder="N&uacute;mero telefonico"></td>
        </tr>
        <tr>
          <td class="alert-info">E-mail:</td>
          <td><input class="btn-block" type="text" placeholder="E-mail"></td>
        </tr>
      </tbody>
    </table>
  
  <div class="row">
    <div class="col d-md-12 col-md-2">
      <button class="btn btn-warning btn-block" (click)="Cancelar()">Cancelar</button>
    </div>
    <div class="col d-md-12 col-md-2">
      <button class="btn btn-success btn-block">Guardar</button>
    </div>
  </div>
