<div class="tabla my-1">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="table-success" colspan="2" scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="alert-info">Código: </th>
        <td> {{ producto.id_producto }} </td>
      </tr>
      <tr *ngIf="estado == 'edicion'">
        <td colspan="2"><input class="form-control" type="text" value="{{producto.id_producto}}"></td>
      </tr>
      <tr>
        <th scope="row" class="alert-info">Descripción: </th>
        <td> {{ producto.descripcion }} </td>
      </tr>
      <tr *ngIf="estado == 'edicion'">
          <td colspan="2"><input class="form-control" type="text" value="{{producto.descripcion}}"></td>
        </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row" class="table-success" colspan="2">Precio sin impuestos</th>
      </tr>    
        <tr>
        <td class="alert-info">Precio (unitario)</td>
        <td class="alert-info">Precio (pieza)</td>
      </tr>
      <tr>
        <td> {{ producto.precio_unitario_sin_impuestos }} </td>
        <td> {{ producto.precio_pieza_sin_impuestos }} </td>
      </tr>
      <tr *ngIf="estado == 'edicion'">
        <td><input class="form-control" type="text" value="{{producto.precio_unitario_sin_impuestos}}"></td>
        <td><input class="form-control" type="text" value="{{producto.precio_pieza_sin_impuestos}}"></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row" class="table-success" colspan="2">Impuestos</th>
      </tr>
      <tr>
          <td class="alert-info">IVA</td>
          <td class="alert-info">IEPS</td>
      </tr>
      <tr>
        <td> {{ producto.iva }} </td>
        <td> {{ producto.ieps }} </td>
      </tr>
      <tr *ngIf="estado == 'edicion'">
        <td><input class="form-control" type="text" value="{{producto.iva}}"></td>
        <td><input class="form-control" type="text" value="{{producto.ieps}}"></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row" class="table-success" colspan="2">Precio con impuestos</th>
      </tr>
      <tr>
        <td class="alert-info">Precio (unitario)</td>
        <td class="alert-info">Precio (pieza)</td>
      </tr>
      <tr>
        <td> {{ producto.precio_unitario_con_impuestos }} </td>
        <td> {{ producto.precio_pieza_con_impuestos }} </td>
      </tr>
      <tr *ngIf="estado == 'edicion'">
        <td><input class="form-control" type="text" value="{{producto.precio_unitario_con_impuestos}}"></td>
        <td><input class="form-control" type="text" value="{{producto.precio_pieza_con_impuestos}}"></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row" style="text-align: center" class="table-success" colspan="2">Venta al público</th>
      </tr>
      <tr>
        <td class="alert-info">Mayoreo</td>
        <td class="alert-info">Menudeo</td>
      </tr>
      <tr>
        <td> {{ producto.precio_mayoreo }} </td>
        <td> {{ producto.precio_menudeo }} </td>
      </tr>
      <tr *ngIf="estado == 'edicion'">
        <td><input class="form-control" type="text" value="{{producto.precio_mayoreo}}"></td>
        <td><input class="form-control" type="text" value="{{producto.precio_menudeo}}"></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered" *ngIf="estado == 'vista'">
    <tbody>
      <tr>
        <th scope="row" class="table-success" colspan="2">Inventario</th>
      </tr>
      <tr>
        <td class="alert-info">Unidades</td>
        <td class="alert-info">Piezas</td>
      </tr>
      <tr>
        <td> {{ producto.cantidad_unidades_inventario }} </td>
        <td> {{ producto.cantidad_piezas_inventario }} </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col d-md-12 col-md-2" *ngIf="estado == 'vista'">
    <button class="btn btn-warning btn-block" (click)="cambiarEstado()">Editar</button>
  </div>
  <div class="col d-md-12 col-md-2" *ngIf="estado == 'vista'">
    <button class="btn btn-danger btn-block">Eliminar</button>
  </div>
  <div class="col d-md-12 col-md-2" *ngIf="estado == 'edicion'">
    <button class="btn btn-warning btn-block" (click)="cambiarEstado()">Cancelar</button>
  </div>
  <div class="col d-md-12 col-md-2" *ngIf="estado == 'edicion'">
    <button class="btn btn-info btn-block">Guardar</button>
  </div>
</div>
