<div class="container container-fluid">
  <div class="row">
    <div class="col col-12 my-3">
      <div class="alert alert-info" role="alert">
          Por favor ingrese nuevamente su usuario y contrase&ntilde;a de administrador.
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-6 my-3">
        <label>Correo:</label>
      </div>
      <div class="col col-6 my-3">
          <input class="btn-block" type="text" placeholder="Correo" #bossMail>
      </div>
    </div>
    <div class="row">
      <div class="col col-6 my-3">
        <label>Contrase&ntilde;a</label>
      </div>
      <div class="col col-6 my-3">
        <input class="btn-block" type="password" placeholder="Contrase&ntilde;a" #bossPass>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 my-3">
        <button class="btn btn-success" (click)="verificar(bossMail.value, bossPass.value)">Acceder</button>
      </div>
    </div>
  </div>
</div>