<app-nv-proveedores></app-nv-proveedores>

<div>
  Aqui apareceran los productos y despues de presionar un boton se guardarán los productos seleccionados y se mostrarán los proveedores a seleccionar y mandar la cotización
</div>

<div class="row" *ngIf="productos == undefined">
  <div class="alert alert-warning" role="alert">
    <strong> Usted no cuenta con productos registrados </strong>  Por favor registre alguno.
  </div>
</div>

<div class="tabla" *ngIf="productos != undefined">
    <table class="table table-hover animated fadeIn fast">
      <thead>
        <tr>
          <th scope="col">C&oacute;digo</th>
          <th scope="col">Descripci&oacute;n</th>
          <th scope="col">Cantidad (unidad)</th>
          <th scope="col">Cantidad (piezas)</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="animated fadeIn">
          <tr *ngFor="let producto of productos">
            <th scope="row"> {{ producto.id_producto }} </th>
            <td> {{ producto.descripcion }} </td>
            <td> {{ producto.cantidad_unidades_inventario }} </td>
            <td> {{ producto.cantidad_piezas_inventario }} </td>
            <td> <input type="checkbox" name="producto.descripcion" id="producto.id_producto"> </td>
          </tr>
        </tbody>
    </table>
</div>  



