<fieldset>
  <footer class="footer ">
    <div class="text-center mb-3">
      <a class="btn-fb waves-light btn-sm btn-floating" floating="true" href="#" mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
    <div class="footer-copyright text-center py-3">
      <div class="container-fluid"> © 2019 LEARC-SOFT </div>
      <div class="container-fluid font-dev"> <p>Diseñado/Desarrollado por:</p>
        <p>Luis Arellano - Ramiro Guzmán - Eduardo Lemus - Eliu Díaz</p>
      </div>
    </div>
  </footer>

</fieldset>
