<div class="tabla my-1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="table-success" style="text-align: center" colspan="2" scope="col">Producto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="alert-info">Código: </th>
          <td><input class="btn-block" type="text" placeholder="C&oacute;digo Nuevo"></td>
        </tr>
        <tr>
          <th scope="row" class="alert-info">Descripción: </th>
          <td><input class="btn-block" type="text" placeholder="Descripci&oacute;n Nueva"></td>
        </tr>
      </tbody>
    </table>
  
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" style="text-align: center" class="table-success" colspan="2">Precio sin impuestos</th>
        </tr>    
        <tr>
          <td class="alert-info">Precio (unitario)</td>
          <td class="alert-info">Precio (pieza)</td>
        </tr>
        <tr>
          <td><input class="btn-block" type="text" placeholder="Precio (Unidad) Nuevo"></td>
          <td><input class="btn-block" type="text" placeholder="Precio (Pieza) Nuevo"></td>
        </tr>
      </tbody>
    </table>
  
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" style="text-align: center" class="table-success" colspan="2">Impuestos</th>
        </tr>
        <tr>
            <td class="alert-info">IVA</td>
            <td class="alert-info">IEPS</td>
        </tr>
        <tr>
          <td><input class="btn-block" type="text" placeholder="IVA Nuevo"></td>
          <td><input class="btn-block" type="text" placeholder="IEPS Nuevo"></td>
        </tr>
      </tbody>
    </table>
  
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" style="text-align: center" class="table-success" colspan="2">Precio con impuestos</th>
        </tr>
        <tr>
          <td class="alert-info">Precio (unitario)</td>
          <td class="alert-info">Precio (pieza)</td>
        </tr>
        <tr>
          <td><input class="btn-block" type="text" placeholder="Precio (unidad) Nuevo"></td>
          <td><input class="btn-block" type="text" placeholder="Precio (pieza) Nuevo"></td>
        </tr>
      </tbody>
    </table>
  
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" style="text-align: center" class="table-success" colspan="2">Venta al público</th>
        </tr>
        <tr>
          <td class="alert-info">Mayoreo</td>
          <td class="alert-info">Menudeo</td>
        </tr>
        <tr>
          <td><input class="btn-block" type="text" placeholder="Precio al Mayoreo Nuevo"></td>
          <td><input class="btn-block" type="text" placeholder="Precio al Menudeo Nuevo"></td>
        </tr>
      </tbody>
    </table>
  
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" style="text-align: center" class="table-success" colspan="2">Inventario</th>
        </tr>
        <tr>
          <td class="alert-info">Unidades</td>
          <td class="alert-info">Piezas</td>
        </tr>
        <tr>
          <td><input class="btn-block" type="text" placeholder="Unidades"></td>
          <td><input class="btn-block" type="text" placeholder="Piezas"></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row">
    <div class="col d-md-12 col-md-2">
      <button class="btn btn-warning btn-block" (click)="Cancelar()">Cancelar</button>
    </div>
    <div class="col d-md-12 col-md-2">
      <button class="btn btn-success btn-block">Guardar</button>
    </div>
  </div>
