<div class="nav flex-column nav-pills p-1 border border-primary border-left-0 animated fadeIn fast" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <div >
    <a [routerLink]="['punto_de_venta']" class="nav-item btn-outline-info btn-block" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" role="tab">
      Ventas
    </a>
    <!--<button class="btn-outline-info btn-block">Ventas</button>
  </div>-->
  <div>
    <a [routerLink]="['proveedores']" class="nav-item btn-outline-info btn-block" routerLinkActive="active" id="v-pills-profile-tab" data-toggle="pill" role="tab">
      Proveedores
    </a>
    <!--<button class="btn-outline-info btn-block">Proveedores</button>
  </div>-->
  <div>
    <a [routerLink]="['Administracion']" class="nav-item btn-outline-info btn-block" routerLinkActive="active" id="v-pills-messages-tab" data-toggle="pill" role="tab">
      Administraci&oacute;n
    </a>
    <!--<button class="btn-outline-info btn-block">Administraci&oacute;n</button>
  </div>-->
</div>
  

